.advert {
    overflow: hidden;
    width: 100%;

    .activity {
        margin-top: 0rem;
        height: 4.592rem;
        width: 100%;

        div {
            width: 100%;
            height: 4.592rem;
            margin: 0 -1px 0 0;
            font-size: 0;
            display: inline-block;
            float: left;

            a {
                width: 100%;
                height: 100%;
                background-image: url("https://s2.juancdn.com/jas/190729/f/9/5d3e4e9fb6f8ea312525ecd7_1080x300.gif");
                display: inline-block;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                box-sizing: border-box;
                float: left;
                cursor: pointer;
            }
        }
    }

    .recomm {
        margin-top: 0rem;
        height: 9.7184rem;
        width: 100%;
        overflow: hidden;
        display: flex;

        .recomm_l {
            flex: 1;
            height: 9.7184rem;
            margin: 0 -1px 0 0;
            font-size: 0;
            display: inline-block;
            float: left;

            a {
                width: 100%;
                height: 100%;
                background-image: url("https://s2.juancdn.com/jas/190730/4/e/5d3fb60cb6f8ea706a1ca692_540x656.gif");
                display: inline-block;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                box-sizing: border-box;
                float: left;
            }
        }

        .recomm_r {
            flex: 1;
            height: 9.7184rem;
            margin: 0 -1px 0 0;
            font-size: 0;
            display: inline-block;
            float: left;

            .recomm_r_t {
                display: inline-block;
                background: url('https://goods5.juancdn.com/jas/190731/8/6/5d413706b6f8ea2a13436da7_540x328.png?iopcmd=convert&Q=85&dst=png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                float: left;
                width: 100%;
                height: 50%;
            }

            .recomm_r_b {
                display: inline-block;
                background: url('https://goods6.juancdn.com/jas/190730/a/a/5d3fc361b6f8ea6de760e88a_540x328.png?imageMogr2/quality/85!/format/png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                float: left;
                width: 100%;
                height: 50%;
            }
        }
    }

    .zhuanchang {
        margin-top: 0rem;
        height: 4.8896rem;
        width: 100%;
        overflow: hidden;
        display: flex;
        margin: 0 -1px 0 0;
        flex: 1;
            

            a {
                display: block;
                width: 100%;
                float: left;
                height: 100%;
                background-image: url("https://s2.juancdn.com/jas/190730/d/2/5d3fe30eb6f8ea0d762363d6_1080x214.gif");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                box-sizing: border-box;
            }
        
    }
    .advert_title {
        margin-top: 0.426667rem;
        height: 2.0448rem;
        width: 100%;
        overflow: hidden;

        div {
            width: 100%;
            height: 2.0448rem;
            margin: 0 -1px 0 0;
            font-size: 0;
            display: inline-block;
            float: left;

            a {
                width: 100%;
                height: 100%;
                background-image: url("https://goods7.juancdn.com/jas/180518/c/6/5afe2f0db6f8ea096f2bfb35_1080x138.png?iopcmd=convert&Q=85&dst=png");
                display: inline-block;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                box-sizing: border-box;
                float: left;
            }
        }
    }
}