//购物车
.app-content{
z-index: 9999;
position: relative;
// 头部
.head{
    z-index: 199;
    height: 44px;
    width: 100%;
    overflow: inherit;
    border-bottom: 1px solid #ebebeb;
    .fixtop{
        z-index: 999;
    height: 44px;
    width: 100%;
    background: #fff;
    .t-find{
        color: #4a4a4a;
        float: left;
        padding-top: 8px;
        padding-left: .512rem;
        height: 28px;
        width: 1.19467rem;
        svg{
            color: #4a4a4a;
            float: left;
            height: 28px;
            width: 1.19467rem;
        }
        .btn-left{
            width: 1.024rem;
            height: 24px;
            background-size: cover;
            overflow: hidden;
            .fanhui{
                font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
            }
        }
    }
    .t-index{
        cursor: default;
    width: 100%;
    z-index: -1;
    padding: 0 1.536rem;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: #4a4a4a;
    }
    .t-user{
        font-size: 15px;
    color: #4a4a4a;
    padding-right: 14px;
    padding-top: 10px;
    float: right;
    }
    }
}

//购物车内容
.ajaxHtml{
.my-bag{
    display: none;
    .item-empty{
        width: 100%;
    text-align: center;
    margin: 1.06667rem 0;
    clear: both;
    img{
        display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 140px;
    height: auto;
    }
    .b-title{
        font-size: 16px;
    color: #333;
    margin-bottom: .59733rem;
    }
    .bc{
        display: inline-block;
    width: 138px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #ff464e;
    border: 1px solid currentColor;
    text-align: center;
    }
    }
}

.item_cart {
    background: #fff;
    margin-bottom: 10px;
    .item_head_box{
        height: 44px;
        .item_head{
            display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 44px;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 1px solid #ebebeb;
    .head_radio{
        width: 31px;
        .yixuanzhong{
            color: #ff464e;
            font-size: 40px;
        }
    }
    .head_type{
        flex: 1;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    .bc{
        color: #666;
        .imgiconBox{
            display: inline-block;
            font-size: 20px;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            color: #666;
            float: left;
            img{
                display: block;
    width: 100%;
    height: 100%;
            }
        }
        .dianpu{
            text-align: left;
            float: left;
        }
        .jingru{
            font-size: 20px;
    margin-right: 8px;
    color: #666;
    float: left;;
        }
    }
    }
    .head_action{
        width: 62px;
    font-size: 12px;
    color: #ff464e;
    text-align: right;
    }
        }
    }
    .item_body{
        .marketing{
            padding-left: 52px;
    padding-right: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 36px;
        }
        .good_list{
            .good_item{
                display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 14px;
    overflow: hidden;
    .good_radio{
        width: 31px;
        .yixuanzhong{
            color: #ff464e;
            font-size: 40px;
        }
    }
    .clear:before {
        clear: both;
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
    .good_info{
        -ms-flex: 1;
        flex: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 14px;
        .pic{
            height: 90px;
    width: 90px;
    margin-right: 12px;
    img{
        width: 100%;
    height: 100%;
    vertical-align: middle;
    }
        }
        .info_box{
            flex: 1;
    height: 90px;
    font-size: 14px;
    position: relative;
        }
        .info_first{
            color: #333;
            line-height: 1;
            clear: both;
            .title{
                width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            }
        }
        .info_second{
            color: #bbb;
    margin-top: 6px;
    clear: both;
    p{
        position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 6.82667rem;
    overflow: hidden;
    text-align: left;
    }
        }
        .info_third{
            position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    .fd{
        float: left;
    width: 100%;
    p{
        margin-top: 7px;
        float: right;
    }
    }
    .price{
        margin-top: 7px;
        float: left;
        .s1{
            float: left;
            margin-top: 10px;
            font-size: 12px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 20px;
            margin-right: 3px;
            position: relative;
            color: #FF464E;
        }
        .s2{
            float: left;
    margin-top: 10px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    margin-right: 3px;
    position: relative;
    text-decoration: line-through;
    color: #999999;
        }
    }
    .num{
        margin: 0 auto;
    overflow: hidden;
    font-size: 14px;
    float: right;
    .changeNum{
        font-size: 14px;
        .decrease{
            cursor: pointer;
            float: left;
            text-align: center;
            color: gray;
            width: 23px;
    height: 23px;
    line-height: 23px;
    background-color: #f4f4f8;
        }
        .amount{
            width: 38px;
    height: 23px;
    font-size: 14px;
    color: #333;
    float: left;
    text-align: center;
    border: none;
        }
        .increase{
            cursor: pointer;
    float: left;
    text-align: center;
    background-color: #f4f4f8;
    color: #ff464e;
    width: 23px;
    height: 23px;
    line-height: 23px;
    background-color: #f4f4f8;
    color: #ff464e;
        }
    }
    .showNum{
        font-size: 14px;
        color: #666;
    }
    }
        }
        .clear:after, .clear:before {
            clear: both;
            content: " ";
            display: block;
            font-size: 0;
            height: 0;
            visibility: hidden;
        }
    }
            }

        }

    }
}
.member-bottom {
    height: 40px;
    line-height: 40px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    color: #f7dfc4;
    background-image: linear-gradient(-143deg,#464a5a,#272a3a);
    position: fixed;
}
.bag-total {
    min-width: 6.82667rem;
    max-width: 16rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    border-top: 1px solid #ebebeb;
    background: #fff;
    .sel-all{
        background-color: #fff;
    height: 49px;
    line-height: 49px;
    font-size: 16px;
    color: #333;
    text-align: center;
    width: 25%;
    float: left;
    }
    .bag-money{
        background-color: #fff;
    height: 49px;
    text-align: right;
    font-size: 18px;
    width: 45%;
    padding-right: .21333rem;
    box-sizing: border-box;
    float: left;
    line-height: 1;
    .count{
        height: 49px;
    font-size: 14px;
    text-align: right;
    line-height: 18px;
    .zje{
        margin-top: 9px;
        text-align: right;
        font-size: 14px;
    .p{
        text-align: right;
        color: #ff464e;
        font-size: 14px;
    line-height: 1;
    }
    }
    .s{
        text-align: right;
    line-height: 1;
    color: #999;
    font-size: 10px;
    padding-top: 4px;
    em{text-align: right;
        color: #999;
    font-size: 10px;line-height: 1;}
    }
    }
    }
    .go_pay{
        float: right;
        width: 30%;
        display: block;
        height: 49px;
        line-height: 49px;
        background-color: #ff464e;
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
    .del_good{
        float: right;
        width: 30%;
        display: none;
        height: 49px;
        line-height: 49px;
        background-color: #ff464e;
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
    .move_good{
        float: right;
    width: 30%;
    display: none;
    height: 49px;
    line-height: 49px;
    background-color: #f6a623;
    font-size: 18px;
    color: #fff;
    text-align: center;
    }
}
}

//遮罩
.alert_fullbg{
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 200;
    filter: alpha(opacity=50);
    opacity: .5;
    background-color: #000;
    z-index: 201;
}
.normal_loading{
    display: none;
    max-width: 16rem;
    min-width: 6.82667rem;
    position: fixed;
    text-align: center;
    top: 30%;
    width: 100%;
    z-index: 201;
    .box{
        background: #fff;
    border-radius: .34133rem;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 5% 8%;
    position: relative;
    width: 30%;
    background: none;
    .loading2{
        width: 2.64533rem;
        height: 2.64533rem;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background-color: hsla(0,0%,100%,.8);
        border-radius: .21333rem;
        img{
            display: block;
    width: 100%;
    height: 100%;
        }
        .circle-rotating{
            position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation: circle_rotating .7s linear infinite forwards;
        }
    }
    }
}

}
