
.gdetails{
    position: relative;
    z-index: 9999;
    //轮播图
    .p1{
        .gdMLpp{
            position: relative;
            width: 16rem;
            height: 16rem;
            .am-wingblank{
                height: 100%!important;
            .am-carousel{
                height: 100%!important;
                .slider-frame{
                    height: 100%!important;
            
                }
            }
        }
        }

    }
    //商品信息
    .p2{
        .infbox{
            padding: 0.512rem 0.5973333333333334rem 0.4266666666666667rem;
    font-size: 0;
    background: #ffffff;
        
        .infT{
            display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .infTL{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .infTLS{
            .Price{
                font-size: 1.024rem;
    line-height: 1.408rem;
    color: #ff464e;
    margin-right: 0.17066666666666666rem;
    font-size: 1.024rem;
            }
            .cikhXQ{
                font-size: 0.512rem;
                color: #bbbbbb;
                margin-right: 0.4266666666666667rem;
                text-decoration: line-through;
            }

        }
        .eCpHpu{
            font-size: 0.4266666666666667rem;
    line-height: 1;
    padding: 0.042666666666666665rem 0.08533333333333333rem;
    border: 1px solid;
    margin-right: 0.3413333333333333rem;
    background-color: rgb(255, 70, 78);
    border-color: rgb(255, 70, 78);
    color: rgb(255, 255, 255);
        }
    }
    .infTR{
        font-size: 0.512rem;
    color: #999;
    }


        }
        .infB{
            margin-bottom: 0.4266666666666667rem;
            margin-top: 0.17066666666666666rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            -webkit-box-align: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            .eiWZln{
                font-size: 0.6826666666666666rem;
                color: #333333;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                flex-grow: 1;
                text-align: left;
            }
            .djnbop{
                width: 1.024rem;
                height: 1.024rem;
                background-size: 100% 100%;
                border: none;
                background: url(../img/xinjia.png) no-repeat;
                background-size: 100% 100%;
                -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                flex-shrink: 0;
            }
            
        }
    } 
    }
    .p3{
        .homj{
            margin-top: 0.4266666666666667rem;
    background: #ffffff;
    .shouhoub{
        height: 2.048rem;
    position: relative;
    padding: 0 0.5973333333333334rem;
    .shouhou{
        font-size: 0.512rem;
        color: #666666;
        line-height: 2.048rem;
        text-align: left;
    .evvHOT{
        margin-right: 0.5973333333333334rem;
    position: relative;
    padding-left: 0.3413333333333333rem;
    }
    .evvHOT:before {
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        width: 0.17066666666666666rem;
        height: 0.17066666666666666rem;
        background: #ff464e;
        opacity: 0.5;
        border-radius: 50%;
    }
    }
    .glmRdv{
        position: absolute;
        right: 0.512rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1.024rem;
        height: 1.024rem;
    }
    }
    .beBVBG{
        height: 2.048rem;
    position: relative;
    padding: 0 0.5973333333333334rem;
    .gSaRQX{
        font-size: 0.64rem;
    color: #333333;
    line-height: 2.048rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    }
    .wstDz{
        position: absolute;
    right: 0.256rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.024rem;
    height: 1.024rem;
    }
    }

        }
        .biqBpV{
            display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.048rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    .AQZKI{
        width: 3.072rem;
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    width: 2.3466666666666667rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    .hZzUdy{
        width: 1.024rem;
    height: 1.024rem;
    }
    .jFebcI{
        color: #6b6b6b;
    font-size: 0.4266666666666667rem;
    }
    }
    .AQZKI:after {
        content: '';
        position: absolute;
        width: 0.042666666666666665rem;
        height: 100%;
        top: 0;
        right: 0;
        background: #e7e7e7;
    }
    .iVwfSH{
        background: #fff;
    width: 3.072rem;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    .gLOWyV{
        width: 1.024rem;
        height: 1.024rem;
    }
    .ktUUzU{
        color: #666;
        font-size: 0.4266666666666667rem;
    }
    }
    .iVwfSH:after {
        content: '';
        position: absolute;
        width: 0.042666666666666665rem;
        height: 100%;
        top: 0;
        right: 0;
        background: #e7e7e7;
    }
    .aLTFY{
        flex: 1 1 auto;
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    .eBSgt{
        color: #333333;
        display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background: #ffffff;
    -webkit-flex: 1 1 4.608rem;
    flex: 1 1 4.608rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    .jYITyy {
        font-size: 0.512rem;
    }
    }
    .eSPJkQ{
        display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: #ff464e;
    width: 6.826666666666667rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #ffffff;
    .jYITyy {
        font-size: 0.512rem;
    }
    }
    }
        }
        .cyOSJK{
            visibility: hidden;
            position: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.45);
    .duugzz{
        width: 100%;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(1000%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    .jYjmxa{
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3.328rem;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    .kdcqpr {
        position: absolute;
        top: -1.536rem;
        left: 0.5973333333333334rem;
        .gGteGu{
            width: 4.266666666666667rem;
    height: 4.266666666666667rem;
        }
    }
    .kLnIRP {
        margin-left: 5.376rem;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-top: 0.256rem;
        .jHnhrY {
            color: #ff464e;
            font-size: 0.768rem;
            text-align: left;
        }
        .bECJpj {
            color: #666;
            font-size: 0.512rem;
            text-align: left;
        }
    }
    .jCKkwU {
        margin-right: 0.4266666666666667rem;
        margin-top: 0.4266666666666667rem;
        .iXbonv{
            width: 0.5973333333333334rem;
    height: 0.5973333333333334rem;
    vertical-align: top;
        }
    }
    }
    .eePJwY{
        max-height: 14.549333333333333rem;
    min-height: 10.112rem;
    overflow: auto;
    padding-left: 0.5973333333333334rem;
    padding-right: 0.5973333333333334rem;
    .djINZm {
        color: #333;
        font-size: 0.6826666666666666rem;
        line-height: 1.0666666666666667rem;
        text-align: left;
    }
    .dRKsrh {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        .kpMuTa {
            width: 3.48rem;
            height: 1.3653333333333333rem;
            line-height: 1.3653333333333333rem;
            text-align: center;
            font-size: 0.5973333333333334rem;
            margin-top: 0.256rem;
            margin-bottom: 0.256rem;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border: 1px solid #333;
            color: #333;
            margin-left: 0.4693333333333333rem;
            margin-right: 0.4693333333333333rem;
        }
        .gXzicJ {
            width: 3.48rem;
            height: 1.3653333333333333rem;
            line-height: 1.3653333333333333rem;
            text-align: center;
            font-size: 0.5973333333333334rem;
            margin-top: 0.256rem;
            margin-bottom: 0.256rem;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 0.4693333333333333rem;
            margin-right: 0.4693333333333333rem;
            background: #ff464e;;
            color: #fff;
        }
        .jbxric {
            width: 4.48rem;
            height: 1.3653333333333333rem;
            line-height: 1.3653333333333333rem;
            text-align: center;
            font-size: 0.5973333333333334rem;
            margin-top: 0.256rem;
            margin-bottom: 0.256rem;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 0.4693333333333333rem;
            margin-right: 0.4693333333333333rem;
            border: 1px solid #333;
            color: #333;
        }
    }
    .iGRxGB {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        .kpMuTa {
            width: 3.48rem;
            height: 1.3653333333333333rem;
            line-height: 1.3653333333333333rem;
            text-align: center;
            font-size: 0.5973333333333334rem;
            margin-top: 0.256rem;
            margin-bottom: 0.256rem;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border: 1px solid #333;
            color: #333;
            margin-left: 0.4693333333333333rem;
            margin-right: 0.4693333333333333rem;
        }
        .gXzicJ {
            width: 3.48rem;
            height: 1.3653333333333333rem;
            line-height: 1.3653333333333333rem;
            text-align: center;
            font-size: 0.5973333333333334rem;
            margin-top: 0.256rem;
            margin-bottom: 0.256rem;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 0.4693333333333333rem;
            margin-right: 0.4693333333333333rem;
            background: #ff464e;;
            color: #fff;
        }
        .jbxric {
            width: 4.48rem;
            height: 1.3653333333333333rem;
            line-height: 1.3653333333333333rem;
            text-align: center;
            font-size: 0.5973333333333334rem;
            margin-top: 0.256rem;
            margin-bottom: 0.256rem;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 0.4693333333333333rem;
            margin-right: 0.4693333333333333rem;
            border: 1px solid #333;
            color: #333;
        }
    }
    .hzewHz {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 1.28rem;
        margin-bottom: 1.28rem;
        .gJDKLw {
            text-align: left;
            color: #333;
            font-size: 0.6826666666666666rem;
        }
        .gJDKLw {
            text-align: left;
            color: #333;
            font-size: 0.6826666666666666rem;
        }
        .fecqhx {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .dGBIdN {
                width: 1.28rem;
                height: 1.28rem;
                line-height: 1.28rem;
                background: #f7f7f7;
                font-size: 0.6826666666666666rem;
                color: #dbdbdb;
                text-align: center;
            }
            .iMLzwQ {
                font-size: 0.6826666666666666rem;
                color: #333;
                padding-left: 0.768rem;
                padding-right: 0.768rem;
            }
            .dcPVBu {
                width: 1.28rem;
                height: 1.28rem;
                line-height: 1.28rem;
                background: #f7f7f7;
                font-size: 0.6826666666666666rem;
                color: #ff464e;
                text-align: center;
            }
        }
    }
    }
    .ixMtuT{
        height: 2.048rem;
    line-height: 2.048rem;
    font-size: 0.768rem;
    color: #fff;
    text-align: center;
    background: #ff464e;
    }
    }
        }

    }

}


